body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    color: #007BFF;
    text-align: center;
}

h2 {
    color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
